.App {
  text-align: center;
  font-family: "Lacquer", cursive;
  font-family: "Lato", sans-serif;
  padding-bottom: 50px;
}

/* for phones and tablets */

@media only screen and (max-width: 600px) {
  /* navbar */

  * {
    box-sizing: border-box;
  }
  #logo-button {
    width: 50%;
    max-width: 100px;
    min-width: 50px;
    margin-left: 5%;
    float: center;
  }

  #external-navbar {
    width: 100vw;
    display: block;
    max-height: 3%;
    padding: 0px;
    margin: 0px;
    float: none;
  }

  #nav-drop-down-menu ul {
    display: flex;
    padding: 4%;
    outline: none;
    width: 100%;
    margin-bottom: 7%;
    align-items: baseline;
  }

  #nav-drop-down-menu li {
    border: none;
    outline: none;
    padding: 0 0 10% 0;
    width: 30%;
  }

  #nav-container-logged-in {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }

  #nav-bar li {
    list-style-type: none;
    margin: 0 2% 0 2%;
    height: 1rem;
  }

  #nav-container-logged-in li a {
    text-decoration: none;
    display: block;
    padding: 0 2% 0 2%;
    color: #1a6a68;
  }

  /* Header background color */
  .navbar-brand {
    background-color: #1a6a68;
    width: 100%;
    margin-bottom: 5px;
  }

  /* the dropdown of the menu */
  #nav-drop-down-menu {
    display: flex;
  }

  #nav-container-logged-out li a {
    text-decoration: none;
    display: inline;
    color: white;
  }

  #nav-toggle {
    color: white;
  }

  #nav-container-logged-out ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }

  #login-button {
    border: 1.5px solid;
    border-radius: 5px;
    border-color: #1a6a68;
    color: #1a6a68;
  }

  #login-button:hover {
    background-color: #81b4a6;
    color: #1a6a68;
  }

  .page-title {
    font-size: 30px;
    color: #1a6a68;
    margin-top: 4%;
  }

  /* Resource Details Page */
  .resource-info {
    text-align: start;
    margin: 5px;
  }

  .resource-video {
    font-size: smaller;
    text-align: start;
    padding-left: 3px;
  }
  .resource-content {
    padding: 45px;
  }

  .article-content {
    text-align: start;
  }
  /* Comments */
  .leave-comment > textarea {
    width: 250px;

    margin-left: 10px;
    text-align: start;
    margin-top: 10px;
  }

  .leave-comment {
    text-align: start;
    margin-bottom: 20px;
  }
  .comments-user {
    padding: 10px;
    text-align: start;
  }

  .comments-img {
    width: 30px;
    padding: 3px;
  }

  #home-gallery {
    border: none;
    padding: 6%;
    width: 100%;
    height: auto;
  }
}

/* for desktop */
@media only screen and (min-width: 601px) {
  /* navbar for desktop */
  #logo-button {
    width: 100%;
    max-width: 100px;
    min-width: 50px;
    padding: 0px;
    margin: 0px;
  }

  #external-navbar {
    width: 100vw;
    display: block;
    max-height: 3%;
    background-color: #1a6a68;
    padding: 0px;
    margin: 0px;
    float: none;
  }

  #nav-container-logged-in,
  #nav-container-logged-out {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    background-color: #1a6a68;
  }

  #nav-bar li {
    list-style-type: none;
    margin: 0 2% 0 2%;
    height: 1rem;
    padding: 8px;
  }

  #nav-bar li a {
    text-decoration: none;
    display: block;
    color: black;
    padding: 0 2% 0 2%;
  }

  #nav-bar ul {
    display: flex;
    justify-content: space-between;
  }

  /* the dropdown of the menu */
  #nav-drop-down-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #nav-container-logged-out li {
    list-style-type: none;
    margin: 0 2% 0 2%;
    height: 1rem;
  }

  #nav-container-logged-out li a {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 0 2% 0 2%;
    margin: 0 10px;
  }

  #nav-container-logged-out ul {
    display: flex;
    justify-content: space-between;
  }

  #nav-drop-down-menu {
    display: flex;
    justify-content: center;
  }

  /* logout button */
  #login-button {
    border: 1.5px solid;
    border-radius: 5px;
    color: #1a6a68;
    border-color: #1a6a68;
    background-color: #81b4a6;
  }

  #login-button:hover {
    color: #81b4a6;
    background-color: #1a6a68;
    border-color: #81b4a6;
  }

  /* Page headers */
  .page-title {
    font-size: 40px;
    color: #1a6a68;
    padding: 20px;
  }

  /* ResourceDetailsPage */
  .ResourceDetailsPage {
    padding: 10px;
    margin: 20px 40px;
    display: flex;
    justify-content: center;
  }

  .article-content {
    max-width: 500px;
    text-align: start;
  }

  .article-url {
    text-align: start;
    font-size: small;
  }

  .resource-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info {
    padding: 40px;
  }

  .resource-img {
    width: 500px;
  }

  .resource-podcast {
    text-align: start;
    padding: 0 25px;
    font-size: smaller;
  }
  .podcast-display {
    width: 560px;
    height: 315px;
  }
  .video-display {
    width: 560px;
    height: 315px;
  }

  .resource-video {
    text-align: start;
    padding: 10px 25px;
    font-size: smaller;
  }

  /* Comments */
  .leave-comment {
    text-align: start;
    margin-bottom: 20px;
  }

  .comments-user {
    padding: 10px;
    text-align: start;
    margin: 10px 0 5px 0;
  }

  .comments-img {
    width: 30px;
    padding: 3px;
  }
}

/* home page responsive with bootstrap  */

#title-card,
#title-card-image {
  border-radius: 0px;
  width: 100vw;
}

#title-card h1,
#footer h1 {
  font-size: 5.9vw;
}

#title-card h2,
#footer h2 {
  font-size: 3vh;
}
#title-card p,
#footer p {
  font-size: 2vmin;
}

#card-image-overlay {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #1a6a68;
}

#image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  color: #1a6a68;
}

#card-container {
  border: none;
  padding: 6%;
  width: 100vw;
}

#header-card-image {
  border-radius: 0px;
}

#card-title-codegirlz {
  font-size: 320%;
}

#card-text-codegirlz {
  font-size: 100%;
}

#home-gallery {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#card-image {
  border-radius: 0px;
  width: 20rem;
  height: 14rem;
}

#footer {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

#footer-card {
  width: 31rem;
  border-radius: 0px;
  color: #1a6a68;
}

#github-logo,
#email-image {
  width: 15%;
}

#footer-contact-us {
  border-radius: 0px;
  border: none;
  width: 15rem;
}

#copyright-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a6a68;
  height: 4%;
  color: white;
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  font-size: 75%;
}

#footer-card a {
  text-decoration: none;
  color: black;
}

/* profile page */

#profile-container {
  width: 100vw;
  margin-top: 3%;
}

#profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75%;
  border: none;
  margin: 0 auto;
}

#random-image-button {
  margin-top: 4%;
}

