@media only screen and (max-width: 600px) {
  /* Cards for ResourceListPage, MeetupListPage */
  .all-cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card-list {
    display: flex;
    width: 45%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    align-items: center;
    box-shadow: 0 8px 16px 0 rgba(107, 105, 105, 0.1);
  }

  .card-img {
    width: 210px;
  }

  .podcast-thumbnail {
    width: 140px;
    height: 120px;
  }

  .card-video {
    width: 210px;
  }

  .more-details {
    cursor: pointer;
    text-decoration: none;
    color: #1a6a68;
  }

  .more-details:hover {
    text-decoration: solid;
    color: #1a6a68;
  }

  .resource-card-btn {
    display: flex;
    color: #1a6a68;
    align-items: baseline;
    justify-content: flex-end;
  }

  /* MeetupDetails */
  #meetup-img {
    max-width: 300px;
  }
}

/* Large screens */
@media only screen and (min-width: 601px) {
  /* Cards for ResourceListPage, MeetupListPage */
  .all-cards {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .card-list {
    max-width: 265px;
    margin: 20px;
    box-sizing: border-box;
  }

  .more-details {
    color: #1a6a68;
    text-decoration: none;
  }
  .card-content {
    padding: 10px;
    border-radius: 10px;
  }
  .card-list:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
    color: #1a6a68;
  }

  .more-details:hover {
    color: #1a6a68;
  }

  .card-img {
    padding-bottom: 18px;
  }

  .card-list iframe {
    max-width: 230px;
    padding-bottom: 18px;
  }

  .podcast-thumbnail {
    padding-top: 18px;
  }

  .resource-card-btn {
    display: flex;
    color: #1a6a68;
    align-items: baseline;
    justify-content: flex-end;
  }

  .event-details {
    color: #81b4a6;
    align-items: baseline;
    justify-content: flex-end;
  }

  /* Meetup Details Page */
  .meetup-details {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }

  #meetup-img {
    max-width: 300px;
  }

  .meetup {
    width: 1000px;
  }

  .location-details {
    display: flex;
    flex-direction: row;
  }

  .hosted-by {
    color: #81b4a6;
  }
}
