#LoginPage,
#SignupPage,
#EditProfile,
#RecruiterSignup {
  margin-top: 10%;
  padding-bottom: 50%;
}

#form-login,
#form-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sign-up-button-div,
#save-button-div {
  margin-top: 1%;
  margin-bottom: 3%;
}

#login-container {
  margin-bottom: 10%;
}

#sign-up-button,
#save-button {
  background-color: #1a6a68;
  border-color: #1a6a68;
}

#new-res-btn,
#edit-res-btn,
#submit-btn,
#edit-meetup-btn,
#login-button,
#update-button,
#edit-btn,
#edit-meetup-btn,
#comment-btn,
#meetup-changes-btn {
  background-color: #81b4a6;
  border-color: #81b4a6;
  color: white;
  padding: 5px 10px;
}

#sign-up-button:hover,
#save-button:hover {
  background-color: #81b4a6;
  border: none;
}

#new-res-btn:hover,
#edit-res-btn:hover,
#edit-meetup-btn:hover,
#login-button:hover,
#update-button:hover,
#edit-btn:hover,
#edit-meetup-btn:hover,
#comment-btn:hover,
#meetup-changes-btn:hover,
#submit-btn:hover {
  background-color: #1a6a68;
  border: 1px solid white;
  color: white;
}

#profile-pic-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#delete-meetup-btn,
#delete-btn,
#submit-btn,
#edit-meetup-btn,
#update-button,
#edit-btn,
#edit-meetup-btn,
#comment-btn,
#meetup-changes-btn {
  /* margin-top: 3%; */
  /* margin-right: 3%; */
  /* margin-left: 3%; */
}

#delete-res-btn,
#delete-btn,
#delete-meetup-btn {
  /* margin-bottom: 10%; */
  margin: 10px;
  padding: 5px 10px;
}

#delete-res-btn:hover,
#delete-btn:hover,
#delete-meetup-btn:hover {
  background-color: rgb(159, 0, 0);
  border: 1px solid rgb(159, 0, 0);
}

#profile-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile-page {
  display: flex;
  flex-direction: column;
}

#social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

#social-link {
  margin-right: 5%;
  margin-left: 5%;
}

#profile-container a {
  color: black;
  text-decoration: none;
}

#profile-container a:hover {
  text-decoration: underline;
}

#profile-container a:active {
  color: black;
}

#profile-container a:visited {
  color: black;
}

#SignupPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#rec-form-signup {
  width: 75%;
  margin: auto;
}
