.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* navbar */

#logo-button {
  width: 50%;
  max-width: 250px;
  max-height: 3%;
  float: left;
}

#nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  align-items: center;
  display: inline-block;
  background-color: #1a6a68;
  max-height: 3%;
}

#nav-toggle {
  background-color: #81b4a6;
}

#nav-container-logged-in,
#nav-container-logged-out {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  display: inline-block;
  background-color: #1a6a68;
  max-height: 3%;
}

#nav-drop-down-menu {
  display: flex;
  flex-direction: column;
  background-color: white;
}

#nav-bar li {
  list-style-type: none;
}

#nav-bar li a {
  text-decoration: none;
  display: block;
  color: #1a6a68;
}

#nav-container a {
  color: #1a6a68;
}
