.App {
  text-align: center;
  position: fixed;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* navbar */

#logo-button {
  width: 50%;
  max-width: 100px;
  min-width: 50px;
}

#external-navbar {
  width: 100vw;
  display: inline-block;
  max-height: 3%;
}

#nav-container-logged-in,
#nav-container-logged-out {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-bar li {
  list-style-type: none;
  margin: 0 2% 0 2%;
  height: 1rem;
}

#nav-bar li a {
  text-decoration: none;
  display: block;
  color: #1a6a68;
  padding: 0 2% 0 2%;
}

#nav-bar ul {
  display: flex;
  /* add for responsiv design 
  flex-direction: column; */
  justify-content: space-between;
}

/* the dropdown of the menu */
#nav-drop-down-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#nav-container-logged-out li {
  list-style-type: none;
  margin: 0 2% 0 2%;
  height: 1rem;
}

#nav-container-logged-out li a {
  text-decoration: none;
  display: inline-block;
  color: #1a6a68;
  padding: 0 2% 0 2%;
  margin: 0 10px 0 10px;
}

#nav-container-logged-out ul {
  display: flex;
  justify-content: space-between;
}
